@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


.App{
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title{
    font-family: 'Roboto', sans-serif;
}

.bookTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.books{
    display: flex;
    gap: 10px;
}

.book{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}

img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(172, 241, 218);
}

.delete{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border:1px solid rgb(245, 191, 191);
    color: rgb(242, 100, 100);
}

.update{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 243);
    color: rgb(139, 139, 234);
}

.form{
    display: flex;
    flex-direction: column;
    gap:20px;

}

input{
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    border-color: lightgrey;
}

input:focus{
    outline: none;
}

.formButton{
    border:none;
    padding: 10px;
    background-color: rgb(244, 142, 74);
    color:white;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.AddBtn{
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    width: 150px;
    border-radius: 3px;
}

.updateTitle{
    font-family: 'Roboto', sans-serif;
}

.addTitle{
    font-family: 'Roboto', sans-serif;
}